.product-card {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: scale 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: var(--card-background-color);

  &:hover {
    scale: 1.02;
    box-shadow: none;
  }

  figure {
    margin: 0;
    position: relative;
    width: 100%;

    img {
      border-radius: 9px 9px 0 0;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      height: auto;
      transition: scale 0.3s ease;
    }

    figcaption {
      padding: 10px 15px;
      gap: 5px;
      font-size: var(--text-font-size);
      font-family: var(--text-font);
      color: var(--text-light);
      background-color: var(--card-background-color);
      letter-spacing: 1px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      max-width: 100%;

      .product-name {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 2px;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .product-price {
        font-weight: 500;
        font-family: var(--paragraph-font);
      }
    }
  }
}

@media (max-width: 1024px) {
  .product-card {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .product-card figcaption {
    font-size: 16px;
    padding: 10px;
  }
}
