.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 40px 0;
  max-width: 100%;
  gap: var(--section-gap);

  & > * {
    cursor: default;
  }
}

.services {
  gap: var(--item-gap);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--content-padding);

  .services-card {
    width: 300px;
    border: 1px solid var(--line-color);
    background-color: var(--card-background-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: none;
    }

    .icon-container {
      width: 100%;
      display: flex;
      justify-content: center;
      .services-icon {
        border-radius: 8px;
        border: 1px solid var(--line-color);
        display: flex;
        width: 60px;
        height: 60px;
        padding: 10px;

        svg {
          width: 40px;
          height: 40px;
        }
      }
    }

    h3 {
      margin: 10px;
      font-family: var(--text-font);
      font-size: var(--text-font-size);
    }

    p {
      color: var(--secondary-dark);
      font-family: var(--paragraph-font);
    }
  }
}
