<div class="contact-form">
  <h3>Leave Us a Message</h3>
  <form>
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="text" name="phone" placeholder="Phone" />
    <input type="email" name="email" placeholder="Email" />
    <input type="text" name="subject" placeholder="Subject" />
    <textarea name="message" placeholder="Message"></textarea>
    <button type="submit">Send Message</button>
  </form>
</div>
