.contact-form {
  display: block;
  justify-self: center;
  h3 {
    margin: 0 0 15px;
    font-family: var(--text-font);
    font-size: calc(var(--text-font-size) + 10px);
    letter-spacing: 1px;
    color: var(--secondary-dark);
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  input,
  textarea {
    flex: 1 0 48%;
    margin: 5px;
    border: 1px solid var(--line-color);
    padding: 20px 25px;
    background-color: var(--backgorund-light);
    font-family: var(--paragraph-font);
    font-size: 16px;
    color: var(--secondary-dark);

    &::-webkit-input-placeholder {
      color: var(--secondary-dark);
      font-size: 16px;
    }

    &:focus {
      outline: 2px solid var(--line-color);
    }
  }
  textarea {
    min-width: calc(96% + 5px);
  }

  button {
    padding: 10px 20px;
    background-color: #6c5c49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0 0 5px;
  }
}
