<section>
  <h2>Our Products</h2>

  <div class="products-category-nav">
    <ul>
      <li id="cake-nav" (click)="slide(1)">
        <span>Cake</span><label for="cake-nav"></label>
      </li>
      <li id="muffin-nav" (click)="slide(2)">
        <span>Muffins</span><label for="muffin-nav"></label>
      </li>
      <li id="croissant-nav" (click)="slide(3)">
        <span>Croissant</span><label for="croissant-nav"></label>
      </li>
      <li id="bread-nav" (click)="slide(4)">
        <span>Bread</span><label for="bread-nav"></label>
      </li>

      <li id="tart-nav" (click)="slide(5)">
        <span>Tart</span><label for=""></label>
      </li>
    </ul>
  </div>
  <div #slider class="products snaps-inline">
    <div id="cakes" class="product-content">
      <img src="https://picsum.photos/id/870/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/870/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/870/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/870/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/870/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/870/300/300.webp" alt="" />
    </div>
    <div id="muffins" class="product-content">
      <img src="https://picsum.photos/id/888/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/888/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/888/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/888/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/888/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/888/300/300.webp" alt="" />
    </div>
    <div id="croissant" class="product-content">
      <img src="https://picsum.photos/id/555/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/555/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/555/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/555/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/555/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/555/300/300.webp" alt="" />
    </div>
    <div id="bread" class="product-content">
      <img src="https://picsum.photos/id/55/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/55/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/55/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/55/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/55/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/55/300/300.webp" alt="" />
    </div>
    <div id="tart" class="product-content">
      <img src="https://picsum.photos/id/95/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/95/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/95/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/95/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/95/300/300.webp" alt="" />
      <img src="https://picsum.photos/id/95/300/300.webp" alt="" />
    </div>
  </div>
</section>
