.our-products-container {
  .button-container {
    display: flex;
    justify-content: end;
    width: 75%;
    justify-self: center;
    button {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid var(--line-color);
      cursor: pointer;
      transition: scale 0.4s ease;
      background-color: var(--secondary-dark);
      color: var(--text-light);

      a {
        font-size: calc(var(--text-font-size) - 4px);
        font-family: var(--text-font);
        text-decoration: none;
        color: var(--secondary-light);
        letter-spacing: 1px;
        transition: color 0.4s ease;
      }

      &:hover {
        scale: 1.02;
        background-color: var(--primary-light);
        a {
          color: var(--text-light);
        }
      }
    }
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--section-gap);

    .products-category-nav {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        list-style-type: none;
        --list-item-width: 4rem;
        width: var(--list-item-width);
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: var(--list-item-width);
          cursor: pointer;
          transition: 0.4s ease;

          &:hover {
            scale: 1.1;
          }

          span {
            font-size: var(--text-font-size);
            font-family: var(--text-font);
            text-decoration: none;
            color: var(--text-light);
          }
          label {
            width: var(--list-item-width);
            content: "";
            height: 2px;
            background-color: transparent;
          }
          &.active {
            label {
              animation: labelColor 0.5s normal forwards;

              @keyframes labelColor {
                0% {
                  background-color: transparent;
                }
                100% {
                  background-color: var(--line-color);
                }
              }
            }
          }
        }
      }
    }

    .products {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-x: auto;
      overflow-y: hidden;
      overscroll-behavior-inline: contain;
      padding: var(--content-padding);

      .product-content {
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: var(--item-gap);
      }
    }
  }
}

app-card {
  width: 20%;
  aspect-ratio: 1.4/1;
}

@media (max-width: 1024px) {
  app-card {
    width: 30%;
  }
}

@media (max-width: 768px) {
  app-card {
    width: 45%;
  }
}
