.our-products-container {
  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    justify-self: center;
    margin: var(--item-gap) 0;
    button {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid var(--line-color);
      cursor: pointer;
      transition: scale 0.4s ease;
      background-color: var(--secondary-dark);
      color: var(--text-light);

      a {
        font-size: calc(var(--text-font-size) - 4px);
        font-family: var(--text-font);
        text-decoration: none;
        color: var(--secondary-light);
        letter-spacing: 1px;
        transition: color 0.4s ease;
      }

      &:hover {
        scale: 1.02;
        background-color: var(--primary-light);
        a {
          color: var(--text-light);
        }
      }
    }
  }

  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--section-gap);
  }

  app-our-products-slider {
    max-width: 100%;
    width: 100%;
  }
}
