.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  .next-btn,
  .prev-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 5%;
    svg {
      width: 50px;
      height: 50px;

      path {
        transition: stroke 0.3s ease-in;
        stroke: var(--line-color);
        stroke-width: 2px;
      }
    }
    &:hover {
      svg {
        path {
          transition: stroke 0.4s ease-in-out;
          stroke: var(--secondary-dark);
        }
      }
    }
  }

  .slides-area {
    width: 90%;
    display: flex;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    padding: 10px;
    scroll-padding-left: 10px;
    gap: 1%;

    & > article {
      scroll-snap-align: start;
    }

    .slide {
      flex: 1 0 32.6%;
      height: 410px;
      background-color: var(--card-background-color);
      border-radius: 10px;
      overflow: hidden;

      .slide-img {
        width: 100%;
        height: 220px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .slide-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 170px;
        padding: 5px 10px 10px;
        gap: 8px;
        text-align: center;

        h5 {
          height: 30px;
          line-height: 30px;
          font-family: var(--text-font);
          font-size: var(--text-font-size);
        }

        p {
          word-break: break-word;
          text-align: start;
          height: 115px;
          --line-clamp: 4;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-clamp: var(--line-clamp);
          -webkit-line-clamp: var(--line-clamp);
          -webkit-box-orient: vertical;
          font-family: var(--paragraph-font);
        }

        .slide-details {
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          span.date-icon,
          span.comment-icon {
            width: 20px;
            height: 20px;
            svg {
              width: 20px;
              height: 20px;
            }
          }

          .date,
          .comments {
            display: flex;
            align-items: center;
            height: 20px;
            gap: 5px;
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .slider-container {
    .slides-area {
      width: 85%;
    }
  }
}

@media (max-width: 768px) {
  .slider-container {
    
    .next-btn,
    .prev-btn {
      display: none;
    }
    .slides-area {
      width: 100%;
      .slide {
        flex: 1 0 45%;

        .slide-content {
          h5 {
            height: 15px;
            line-height: 15px;
            font-size: calc(var(--text-font-size) - 5px);
          }

          p {
            font-size: 14px;
          }
        }

        .date,
        .comments {
          font-size: 12px;
        }
      }
    }
  }

  .next-btn,
  .prev-btn {
    display: none;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .slider-container {
    .slides-area {
      .slide {
        flex: 1 0 90%;
      }
    }
  }
}
