.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  .next-btn,
  .prev-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;

    svg {
      path {
        transition: stroke 0.3s ease-in;
        stroke: var(--line-color);
        stroke-width: 2px;
      }
    }
    &:hover {
      svg {
        path {
          transition: stroke 0.4s ease-in-out;
          stroke: var(--secondary-dark);
        }
      }
    }
  }

  .slides-area {
    max-width: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    margin-left: 10px;
    gap: 1%;

    &.snaps-inline {
      scroll-snap-type: inline mandatory;
    }

    &.snaps-inline > * {
      scroll-snap-align: start;
    }

    .slide {
      min-width: 32.4%;
      width: 32.4%;
      max-width: 32.4%;
      height: 410px;
      left: 10px;
      background-color: var(--card-background-color);
      border-radius: 10px;
      overflow: hidden;

      .slide-img {
        width: 100%;
        height: 220px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .slide-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 170px;
        padding: 5px 10px 10px;
        gap: 8px;
        text-align: center;

        h5 {
          height: 30px;
          line-height: 30px;
          font-family: var(--text-font);
          font-size: var(--text-font-size);
        }

        p {
          word-break: break-word;
          text-align: start;
          height: 115px;
          --line-clamp: 4;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: var(--line-clamp);
          -webkit-box-orient: vertical;
          font-family: var(--paragraph-font);
        }

        .slide-details {
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          span.date-icon,
          span.comment-icon {
            width: 20px;
            height: 20px;
            svg {
              width: 20px;
              height: 20px;
            }
          }

          .date,
          .comments {
            display: flex;
            align-items: center;
            height: 20px;
            gap: 5px;
          }
        }
      }
    }
  }
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .slider-container {
    .slides-area {
      width: 85%;
    }
  }
}

@media (max-width: 768px) {

  .slider-container {
    .slides-area {
      .slide {
        min-width: 30%;
        width: 30%;
        max-width: 30%;
      }
    }
  }


  .next-btn,
  .prev-btn {
    display: none;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .slider-container {
    .slides-area {
      .slide {
        min-width: 48%;
        width: 48%;
        max-width: 48%;
      }
    }
  }



}
