main {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 20px;
  gap: 20px;
}

aside {
  flex: 0 0 250px;
  background-color: var(--primary-dark);
  padding: 20px;
  margin: 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-container {
  h4 {
    font-size: calc(var(--text-font-size) + 5px);
    font-weight: 600;
    margin: 0 0 15px 10px;
    color: var(--secondary-light);
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 0 10px;
      color: var(--secondary-light);
      cursor: pointer;

      label {
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          font-size: var(--text-font-size);
          transition: color 0.3s ease;
        }
      }

      &:hover {
        color: white;
      }
    }
  }

  ul li ul {
    margin: 5px 0 0 20px;

    li {
      margin: 0 0 5px;
    }
  }
}

section {
  flex: 1 1 600px;
  margin: 20px 0 0;
  padding: 0 15px;
  border-radius: 12px;
}

.products-container {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

app-card {
  width: 18%;
  min-width: 175px;
  aspect-ratio: 1.4 / 1;
  border-radius: 8px;
}

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  aside {
    flex: 0 0 auto;
    max-width: 100%;
    margin: 0;
  }

  section {
    flex: 0 0 auto;
    max-width: 100%;
    margin: 0;
  }

  .filter-container ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    li {
      text-align: center;
      label {
        gap: 8px;
        justify-content: center;
      }
    }
  }
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
  background: var(--line-color);
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: var(--line-color);
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: var(--line-color);
  border-color: var(--line-color);
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
