<section class="our-history">
  <h2>Blog Posts</h2>

  <div class="our-history-container">
    <div class="timeline">
      <article class="timeline-item">
        <h4>1995</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit dolore magna
          aliqua.
        </p>
      </article>
      <article class="timeline-item">
        <h4>2005</h4>
        <p>
          Dolor sit amet, consectetur adipiscing elit ut labore et dolore magna
          aliqua.
        </p>
      </article>
      <article class="timeline-item">
        <h4>2017</h4>
        <p>
          Ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
          tempor incididunt.
        </p>
      </article>
    </div>
    <aside class="video-section">
      <div class="video-container">
        <video autoplay>
          <source
            src="../../../assets/videos/baking video.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </aside>
  </div>
</section>
