section.our-history {
  width: 100%;
  margin: 50px 0 0;
  border-bottom: 1px solid #ffff;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.our-history-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 40px auto;
  background-color: var(--secondary-light);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .timeline {
    flex: 1;
    margin-right: 20px;

    .timeline-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
      margin-bottom: 40px;
      max-width: 650px;

      h4 {
        background-color: var(--secondary-dark);
        color: var(--secondary-light);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 100px;
        min-width: 100px;
        max-height: 30px;
      }

      p {
        padding: 15px;
        background-color: var(--background-light);
        border-radius: 5px;
        color: var(--secondary-dark);
        font-family: var(--paragraph-font);
      }
    }
  }

  .video-section {
    max-width: 600px;
    flex: 1;

    .video-container {
      position: relative;

      video {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .our-history-container {
    display: flex;
    flex-direction: column;

    .video-section {
      min-width: 350px;
    }
  }
}
