.blog-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 20px 0 0;
  gap: var(--section-gap);

  * {
    max-width: 100%;
  }

  p {
    font-family: var(--paragraph-font);
    font-size: var(--text-font-size);
    color: var(--secondary-dark);
  }
}
