<app-banner></app-banner>
<main class="content-grid">
  <section>
    <app-our-products [data]="data"></app-our-products>
  </section>
  <section>
    <app-customers-choice [data]="data"></app-customers-choice>
  </section>
  <section class="breakout">
    <app-todays-choice></app-todays-choice>
  </section>
  <section>
    <app-our-services></app-our-services>
  </section>
  <section class="breakout">
    <app-blog-section></app-blog-section>
  </section>
  <section>
    <app-news-letter></app-news-letter>
  </section>
</main>
