header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 50px;
  width: 100%;
  position: fixed;
  top: 0;
  backdrop-filter: blur(3px);
  height: 90px;
  z-index: 999;

  .header-icon {
    svg {
      width: 80px;
      height: 80px;
      g {
        fill: #ffff;
      }
    }
  }

  nav {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--item-gap);
    margin: 0 var(--item-gap) 0 10px;

    .navElement {
      border-radius: 5px;
      backdrop-filter: blur(100px);
      border: 1px solid #ffff;
      padding: 5px;
      cursor: pointer;
      min-width: var(--navbar-element-width);
      width: var(--navbar-element-width);
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        font-size: 20px;
        font-family: "Lobster Two", serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: var(--text-color);
        transition: 0.4s ease;
      }
      &:hover {
        a {
          scale: 1.1;
        }
      }
    }
  }
}
