.newsletter-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;

  .section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: calc(var(--section-gap) - 0.25rem);

    .header-background-image {
      justify-self: center;
      width: 250px;
      svg {
        width: 250px;

        * {
          stroke: var(--secondary-dark);
        }
      }
    }

    p {
      font-family: var(--paragraph-font);
      font-size: var(--text-font-size);
      color: var(--secondary-dark);
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    width: 550px;

    input {
      border: 1px solid var(--line-color);
      padding: 20px 25px;
      flex-grow: 2;
      background-color: var(--backgorund-light);
      font-family: var(--paragraph-font);
      font-size: 16px;
      color: var(--secondary-dark);

      &::-webkit-input-placeholder {
        color: var(--secondary-dark);
        font-size: 16px;
      }

      &:focus {
        outline: 2px solid var(--line-color);
      }
    }

    .btn-submit {
      border: none;
      padding: 20px 5px;
      flex-grow: 1;
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      background-color: transparent;
      border: 1px solid var(--line-color);
      transition: all 0.3s ease;
      font-family: var(--text-font);

      &:hover {
        background-color: var(--secondary-dark);
        color: var(--secondary-light);
        outline: 2px solid var(--line-color);
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .newsletter-section-container {
    form {
      display: flex;
      justify-content: space-between;
      width: 350px;

      input {
        padding: 15px 20px;
        flex-grow: 2;
        font-size: 12px;

        &::-webkit-input-placeholder {
          font-size: 12px;
        }
      }
    }
  }
}
