:root {
  --background-color: #f4f3ee;
  --text-color: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    position: relative;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 100dvw;
}
