@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Sansita+Swashed:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --section-gap: 2.25rem;
  --item-gap: 15px;
  --navbar-element-width: 5rem;
  --text-font: "Lobster Two", serif;
  --text-font-size: 20px;
  --title-font: "Sansita Swashed";
  --title-font-size: 74px;
  --title-line-height: 89px;
  --title-font-weight: 400;
  --title-text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.6);
  --line-color: #7a5937;
  --paragraph-font: "Playfair Display";
  --card-background-color: wheat;
  --section-border-radius: 20px;
  --content-padding: 10px 5px

  /* Light Theme */
  --primary-light: #eac696; /* Soft Caramel */
  --secondary-light: #fdf6e3; /* Vanilla Cream111 */
  --background-light: #d3bd9a;
  --text-light: #5b4636; /* Chocolate Brown */
  --highlight-light: #f9d6ac; /* Almond */

  /* Dark Theme */
  --primary-dark: #8d6e63; /* Cocoa Brown */
  --secondary-dark: #4e342e; /* Espresso */
  --text-dark: #f8e5d0; /* Cream Frosting */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: var(--background-light);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100dvw;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1400px;
  --breakout-max-width: 1800px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

h1,
h2 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  font-weight: var(--title-font-weight);
  text-shadow: var(--title-text-shadow);
  color: var(--secondary-dark);
}

h1 {
  color: var(--secondary-light);
}

.section-title {
    text-align: center;
    transition: text-shadow 0.4s ease;
    cursor: default;

    &:hover {
      text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.6);
    }
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}


.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

@media screen and (max-width: 768px) {
 :root{
  --title-font-size: 54px;
  --title-line-height: 74px;
  --title-text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.6);

  }
}

@media screen and (max-width: 425px) {
  :root{
   --title-font-size: 45px;
   --title-line-height: 60px;
   }
 }